<!DOCTYPE html>
<html class="h-100">
<head>
	<title>Error</title>
	<meta charset="utf-8">
	<!-- Metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- jquery-3.5.1 -->
	<script type="text/javascript" src="/lib/jquery-3.5.1/js/jquery-3.5.1.min.js"></script>
	<!-- bootstrap-4.5.0 (with popper) -->
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap-colorex.min.css">
	<script type="text/javascript" src="/lib/bootstrap-4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- js & css-->
	<script type="text/javascript" src="/view/js/common.js"></script>
	<script type="text/javascript" src="/view/js/error.js"></script>
	<link rel="stylesheet" href="/view/css/login.css">
</head>
<body>
<div class="fixed-top bg-purple top-n-bottom"></div>
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center border-danger">
		<!-- Error Box -->
		<div class="col-sm-8 login-box">
			<div class="row pt-2 pb-1 justify-content-center align-items-center">
				<div class="col-sm-8 p-2 login-title">ERROR</div>
				<div class="col-sm-8 p-2"><img class="error-img" src="/img/icon-de4bi.png" alt="D4"></div>
				<input type="text" class="error-tid" id="input_error_tid" th:value="|TID:${tid}|" disabled>
			</div>
			<div class="row justify-content-center align-items-center border-danger">
				<div class="col-sm-8 login-form border-warning">
					<div>
						<input type="hidden" id="input_error_msg" th:value="${msg}" disabled>
					</div>
					<div class="d-flex pt-3 justify-content-center align-items-center">
						<button type="submit" id="button_goto_main" class="btn btn-outline-danger main-button">MAIN</button>
					</div>
				</div>
			</div>
			<div class="row pt-1 pb-2 justify-content-center align-items-center"></div>
		</div>
	</div>
</div>
<div class="fixed-bottom bg-purple top-n-bottom"></div>
</body>
</html>