<!DOCTYPE html>
<html class="h-100">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<!-- Metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- jquery-3.5.1 -->
	<script type="text/javascript" src="/lib/jquery/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/js/jquery-cookie-1.4.1.js"></script>
	<!-- bootstrap-4.5.0 (with popper) -->
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap-colorex.min.css">
	<script type="text/javascript" src="/lib/bootstrap-4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- js & css-->
	<script type="text/javascript" src="/view/js/common.js"></script>
	<script type="text/javascript" src="/view/js/info.js"></script>
	<link rel="stylesheet" href="/view/css/de4bi-skin.css">
</head>
<body>
<!-- Viewpart -->
<div class="fixed-top bg-purple top-n-bottom"></div>
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center border-danger">
		<!-- Info Box -->
		<div class="col-sm-8 main-box border-danger">
			<!-- Title -->
			<div class="row pt-4 pb-1 justify-content-center align-items-center">
				<div class="col-sm-8 p-2 main-box-title no-drag">MEMBER INFO</div>
			</div>
			<!-- Loading -->
			<div class="row justify-content-center align-items-center border-danger">
				<div class="col-sm-8 main-box-form text-center border-warning">
					<div class="loading-spinner-grow no-drag"></div>
				</div>
			</div>
			<!-- Info -->
			<div class="row justify-content-center align-items-center border-danger">
				<div class="col-sm-8 main-box-form border-warning">
					<!-- ID -->
					<label class="form-control-label no-drag">ID</label>
					<input type="text" class="form-control" placeholder="(Email)" readonly value="robi9202@gmail.com">
					<!-- State & Authority & Agency -->
					<div class="row justify-content-center align-items-center border-danger">
						<div class="col-sm-4">
							<label class="form-control-label no-drag">MEMBER STATE</label>
							<input type="text" class="form-control" value="정상" readonly>
						</div>
						<div class="col-sm-4">
							<label class="form-control-label no-drag">MEMBERSHIP</label>
							<input type="text" class="form-control" value="일반 회원" readonly>
						</div>
						<div class="col-sm-4">
							<label class="form-control-label no-drag">CERT AGENCY</label>
							<img src="/img/icon-google.png" alt="GG" class="form-agency-icon no-drag">
						</div>
					</div>
					<!-- Dates -->
					<div class="row justify-content-center align-items-center border-danger">
						<div class="col-sm-6">
							<label class="form-control-label no-drag">JOIN DATE</label>
							<input type="text" class="form-control" value="2020-09-13 13:33:22" readonly>
						</div>
						<div class="col-sm-6">
							<label class="form-control-label no-drag">LAST LOGIN DATE</label>
							<input type="text" class="form-control" value="2020-09-13 13:33:22" readonly>
						</div>
					</div>
					<!-- Sub-Title (Changeable info) -->
					<div class="row justify-content-center align-items-center border-danger pt-4 pb-3">
						<div class="col-sm-8 p-2 main-box-sub-title no-drag">CHANGEABLE INFO</div>
					</div>
					<!-- Name & Nickname -->
					<div class="row justify-content-center align-items-center border-danger">
						<div class="col-sm-6">
							<label class="form-control-label no-drag">NAME</label>
							<label class="form-control-error no-drag"></label>
							<input id="input_name" type="text" class="form-control" value="TAE HOON LEE">
						</div>
						<div class="col-sm-6">
							<label class="form-control-label no-drag">NICKNAME</label>
							<label class="form-control-error no-drag"></label>
							<input id="input_nickname" type="text" class="form-control" value="GOOGLE#235NDKE">
						</div>
					</div>
					<!-- Passwords -->
					<div class="row justify-content-center align-items-center border-danger">
						<div class="col-sm-6">
							<label class="form-control-label no-drag">OLD PASSWORD</label>
							<label class="form-control-error no-drag"></label>
							<input id="input_old_password" type="password" class="form-control">
						</div>
						<div class="col-sm-6">
							<label class="form-control-label no-drag">NEW PASSWORD</label>
							<label class="form-control-error no-drag"></label>
							<input id="input_new_password" type="password" class="form-control">
						</div>
					</div>
					<!-- Info Change Button -->
					<div class="d-flex pt-3 justify-content-end align-items-center">
						<button id="button_change" class="w-50 btn btn-outline-warning accept-button">CHANGE</button>
					</div>
					<!-- Sub-Title (Danger) -->
					<div class="row justify-content-center align-items-center border-danger pt-5">
						<div class="col-sm-8 p-2 main-box-sub-title no-drag">DANGER</div>
					</div>
					<!-- Delete Account Button -->
					<div class="d-flex pt-3 justify-content-end align-items-center">
						<button id="button_delete_account" class="w-100 btn btn-outline-danger accept-button">DELETE ACCOUNT</button>
					</div>
					<!-- Sub-Title (Back) -->
					<div class="row justify-content-center align-items-center border-danger pt-5">
						<div class="col-sm-8 p-2 main-box-sub-title no-drag">BACK</div>
					</div>
					<div class="d-flex pt-3 pb-3 justify-content-end align-items-center">
						<button id="button_main" class="w-100 btn btn-outline-primary accept-button">BACK TO MAIN</button>
					</div>
					<!-- Bottom -->
					<div class="row justify-content-center align-items-center border-danger pb-4"></div>
				</div>
			</div>
			<div class="row pt-1 pb-2 justify-content-center align-items-center"></div>
		</div>
	</div>
</div>
<div class="fixed-bottom bg-purple top-n-bottom"></div>
</body>
</html>