<!DOCTYPE html>
<html class="h-100">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<!-- Metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- jquery-3.5.1 -->
	<script type="text/javascript" src="/lib/jquery/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/js/jquery-cookie-1.4.1.js"></script>
	<!-- bootstrap-4.5.0 (with popper) -->
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap-colorex.min.css">
	<script type="text/javascript" src="/lib/bootstrap-4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- js & css-->
	<script type="text/javascript" src="/lib/de4bi/js/api.js"></script>
	<script type="text/javascript" src="/lib/de4bi/js/util.js"></script>
	<script type="text/javascript" src="/view/js/common.js"></script>
	<script type="text/javascript" src="/view/js/login.js"></script>
	<link rel="stylesheet" href="/view/css/de4bi-skin.css">
</head>
<body>
<!-- Datapart -->
<input type="hidden" id="dp_frame_type" th:value=${frame_type}>
<input type="hidden" id="dp_return_url" th:value=${return_url}>
<input type="hidden" id="dp_return_data" th:value=${return_data}>
<!-- Viewpart -->
<div class="fixed-top bg-purple top-n-bottom"></div>
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center border-danger">
		<!-- Login Box -->
		<div class="col-sm-8 main-box">
			<!-- Title -->
			<div class="row pt-2 pb-1 justify-content-center align-items-center">
				<div class="col-sm-8 p-3 main-box-title no-drag">de4bi</div>
			</div>
			<!-- Login Form -->
			<div class="row justify-content-center align-items-center border-danger">
				<div class="col-sm-8 main-box-form border-warning">
					<form>
						<div class="form-group">
							<label class="form-control-label no-drag">ID</label>
							<input id="input_id" type="text" class="form-control" placeholder="(Email)">
						</div>
						<div class="form-group">
							<label class="form-control-label no-drag">PASSWORD</label>
							<input id="input_pw" type="password" class="form-control">
						</div>
						<div class="row row-keep-login border-danger">
							<div class="col-6 login-bottom text-left border-success">
								<input type="checkbox" id="input_keep_login" aria-label="checkbox_keep_login" class="no-drag">
								<small><span class="keep-login-text no-drag">Keep login</span></small>
							</div>
							<div class="col-6 login-bottom text-right border-success">
								<small><a class="no-drag" href="#">Forget info?</a></small>
							</div>
						</div>
					</form>
					<div class="d-flex pt-4 justify-content-end align-items-center">
						<img id="btn_google_login" src="/img/icon-google.png" alt="GG" style="cursor: pointer" class="join-icon" th:url="${google_login_url}">
						<img id="btn_naver_login" src="/img/icon-naver.png" alt="NV" style="cursor: pointer" class="join-icon" th:url="${naver_login_url}">
						<img id="btn_kakao_login" src="/img/icon-kakao.png" alt="KA" style="cursor: pointer" class="join-icon" th:url="${kakao_login_url}">
						<img id="btn_de4bi_login" src="/img/icon-de4bi.png" alt="D4" style="cursor: pointer" class="join-icon" th:url="${de4bi_login_url}">
						<button id="btn_login" class="btn btn-outline-primary accept-button">LOGIN</button>
					</div>
				</div>
			</div>
			<div class="row pt-1 pb-3 justify-content-center align-items-center"></div>
		</div>
	</div>
</div>
<div class="fixed-bottom bg-purple top-n-bottom"></div>
</body>
</html>