<!DOCTYPE html>
<html class="h-100">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<!-- Metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- jquery-3.5.1 -->
	<script type="text/javascript" src="/lib/jquery-3.5.1/js/jquery-3.5.1.min.js"></script>
	<!-- bootstrap-4.5.0 (with popper) -->
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap-4.5.0/css/bootstrap-colorex.min.css">
	<script type="text/javascript" src="/lib/bootstrap-4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- js & css-->
	<script type="text/javascript" src="/view/js/login.js"></script>
	<link rel="stylesheet" href="/view/css/login.css">
</head>
<body>
<div class="fixed-top bg-purple top-n-bottom"></div>
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center border-danger">
		<!-- Login Box -->
		<div class="col-sm-8 login-box">
			<div class="row pt-2 pb-1 justify-content-center align-items-center">
				<div class="col-sm-8 p-2 login-title">de4bi</div>
			</div>
			<div class="row justify-content-center align-items-center border-danger">
				<div class="col-sm-8 login-form border-warning">
					<form>
						<div class="form-group">
							<label class="form-control-label">ID</label>
							<input type="text" class="form-control" placeholder="(Email)">
						</div>
						<div class="form-group">
							<label class="form-control-label">PASSWORD</label>
							<input type="password" class="form-control">
						</div>
						<div class="row row-keep-login border-danger">
							<div class="col-6 login-bottom text-left border-success">
								<input type="checkbox" aria-label="checkbox_keep_login">
								<small><span class="keep-login-text">Keep login</span></small>
							</div>
							<div class="col-6 login-bottom text-right border-success">
								<small><a href="#">Forget info?</a></small>
							</div>
						</div>
						<div class="d-flex pt-3 justify-content-end align-items-center">
							<input type="hidden" id="google_login_url" th:value="${google_login_url}">
							<input type="hidden" id="naver_login_url" th:value="${naver_login_url}">
							<input type="hidden" id="kakao_login_url" th:value="${kakao_login_url}">
							<input type="hidden" id="de4bi_login_url" th:value="${de4bi_login_url}">
							<img src="/img/icon-google.png" alt="G" class="join-icon">
							<img src="/img/icon-naver.png" alt="N" class="join-icon">
							<img src="/img/icon-kakao.png" alt="K" class="join-icon">
							<img src="/img/icon-de4bi.png" alt="J" class="join-icon">
							<button type="submit" class="btn btn-outline-primary login-button">LOGIN</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row pt-1 pb-2 justify-content-center align-items-center"></div>
		</div>
	</div>
</div>
<div class="fixed-bottom bg-purple top-n-bottom"></div>
</body>
</html>